*
{
    margin: 0px;
    padding: 0px;
}
.superior
{
    width: 100%;
    align-items: center;
    border-bottom-width: 3px;
    border-bottom-color: black;
    border-bottom-style: double;
    display: inline-flex;
}
.cabeza
{
    width: 36%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    flex-wrap: wrap;
}
#logo
{
    width: 90px;
    border-radius: 100%;
    border-style:groove; 
}
#titulo
{
    color: rgb(0, 0, 0);
    text-decoration-line: none;  
    margin: 0px 5px;
    cursor: pointer;
}

.Usuario
{
    width: 64%;
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    box-sizing: border-box;
}
#registro
{
    color: rgb(0, 0, 0);
    font-family: cursive;
    margin: 8px;
    text-decoration-line: none;
}
#ingreso
{
    color: rgb(0, 0, 0);
    font-family: cursive;
    margin: 8px;
    text-decoration-line: none;
}

.header
{
    margin: auto;
    width: 500px;
    font-family: 'Times New Roman', Times, serif;
    display: flow-root;
}
ul
{
    list-style: none;
}
.nav li a
{
    background-color: black;
    color: bisque;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav li a:hover
{
    background-color: rgba(31, 138, 49, 0.623);
}
.nav > li
{
    float: left;
}
.nav li ul
{
    position: absolute;
    min-width: 140px;
    display: none;
}
.nav li:hover > ul
{
    display: block;
}

footer
{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flow-root;
}
footer::after
{
    content: "";
    clear: both;
    display: block;
}
.derechos
{
    float: left;
    width: 95%;
    vertical-align: middle;

}
#derechos
{
    vertical-align: middle;
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    color: rgb(255, 255, 255);
}
.redes
{
    float: right;
    width: 5%;
    vertical-align: middle;
    box-sizing: content-box;
}
.redes img
{
    margin-top: 2%;
}

