*
{
    padding: 0px;
    margin: 0px;
}
#header
{
    margin: auto;
    width: 500px;
    font-family: 'Times New Roman', Times, serif;
}
ul
{
    list-style: none;
}
.nav li a
{
    background-color: black;
    color: bisque;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav li a:hover
{
    background-color: rgba(31, 138, 49, 0.623);
}
.nav > li
{
    float: left;
}
.nav li ul
{
    position: absolute;
    min-width: 140px;
    display: none;
}
.nav li:hover > ul
{
    display: block;
}