main
{
    width: 100%;
    display: flex;
    background-color: rgb(229, 228, 230);
}
.imagen
{
    width: 50%;
    background-image:url(../imagenes/Fondos/contactanos.jpg);
    margin: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-right-color: rgb(0, 0, 0);
    border-right-style: solid;
}
.parrafo
{
    
    width: 50%;
    height: 600px;
    line-height: 20px;
    margin:15px;
    overflow:auto ;
    text-align: justify;
    padding-right: 15px;
    padding-left: 15px;
}
